[Unit]
Description=Check GitHub periodically for MyPanel updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=mypanel-update.service

[Install]
WantedBy=timers.target
